
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

.title{
margin: 8px 0;
padding: 15px;
background-color: #fcce00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
font-size: 88px;
font-family: 'Poppins-Black';
width: 1440px;
height: 128px;
}

.section-title{
  margin: 8px 0;
  padding: 15px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-size: 38px;
  font-family: 'Poppins-Black';
  width: 1440px;
  height: 64px;
}

.boxred{
 width: 1440px;
 height: 32px;
 margin: 8px 0;
 background-color: #ff1100d5;
}

.boxviolet{
  width: 1440px;
  height: 16px;
  margin: 8px 0;
  background-color: #9900ffd5;
 }

 .boxbleu{
  width: 1440px;
  height: 8px;
  margin: 8px 0;
  background-color: #3700ffd5;
 }
/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/