
/**
* -------------
* Global Styles
* -------------
*/


.body{
 height: 100%;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  color: #0f0f0f;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 64px 216px 64px 231px;
}
  
h3 {
  font-size: 24px;
  font-family: "Poppins";
  color: #000000;
}

h4 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 0px 50px;
}

h5{
  color: #ffffff;
 font-size: 40px;
 font-weight: bold;
 text-align: center;
 background-color: #0f0f0f;
 font-family: "Poppins-Black";
}

h6 {
  font-family:"Poppins";
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align:center;
  
}

.form-style{font-size: 20px;
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

.header-title {
  margin: 8px 0;
  padding: 15px;
  font-size: 88px;
  background-color: #f3c704e5;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-family: "poppins";
}

.header-subtitle {
  margin: 8px 0;
  padding: 15px;
  font-size: 38px;
  background-color: #ff6a00d7;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-family: "poppins";
}

.header-stripe--red {
  height: 32px;
  background-color:#f70f0fc4;
  margin: 8px 0;
}

.header-stripe--purple {
  height: 16px;
  background-color: #b620E0;
  margin: 8px 0;
}

.header-stripe--blue {
  height: 8px;
  background-color: #6236FF;
  margin: 8px 0;
}

.bloc{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.titre-para {
margin: 0 31px 34px 0;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.para1{
width: 640px;
height: 184px;
margin: 34px 32px 164px 48px;
font-size: 16px;
text-align: justify;
}

.ordinateur-1 {
width: 720px;
height: 512px;
mix-blend-mode: darken;
display: block;
margin: 0px 0px 0px 32px;
}

.bouton1 {
width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #eec50ee7;
font-size: 20px;
}

.separation{

margin: 40px 0px 0px 0px;
}

.ordinateur-2 {
width: 720px;
height: 512px;
mix-blend-mode: darken;
display: block;
margin: 0px 33px 0px 0px;
}

.bouton2 {
width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #eb6608ec;
font-size: 20px;
}

.section-title{
  font-family: "Poppins";
  size: 40px;
}

.rectanglenum1 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#eb0e0e;
}

.rectanglenum2{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #e02020;
}

.rectanglenum3{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #e02020;
}

.rectanglenum4{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #e02020;
}

.para2 {

font-size: 30px;
text-align: justify;
color: #FFFFFF ;
margin: 20px 50px 50px 50px;
}

.bouton3 {
width: 185px;
height: 48px;
margin: 64px 0px 64px 50px;;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ffffff;
font-size: 30px;
}

.arcadeimg{
mix-blend-mode: darken;
display: block;
margin: -300px 0px 0px 700px;
}

.rectanglenum5 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#b620e0;
}

.rectanglenum6{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #b620e0;
}

.rectanglenum7{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #b620e0;
}

.rectanglenum8{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #b620e0;
}

.rectanglenum9 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#6236ff;
}

.rectanglenum10{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #6236ff;
}

.rectanglenum11{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #6236ff;
}

.rectanglenum12{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #6236ff;
}


.grille{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
  margin: 32px 32px;
}


  






* ------
* Layout
* ------
*/



  
/**
* ----------
* Components
* ----------
*/