
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  color: #0f0f0f;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 64px 216px 64px 231px;
}
  
}


h3 {
  
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

.header-title {
  margin: 8px 0;
  padding: 15px;
  font-size: 88px;
  background-color: #f3c704e5;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-family: "poppins";
}

.header-subtitle {
  margin: 8px 0;
  padding: 15px;
  font-size: 38px;
  background-color: #ff6a00d7;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-family: "poppins";
}

.header-stripe--red {
  height: 32px;
  background-color:#f70f0fc4;
  margin: 8px 0;
}

.header-stripe--purple {
  height: 16px;
  background-color: #b620E0;
  margin: 8px 0;
}

.header-stripe--blue {
  height: 8px;
  background-color: #6236FF;
  margin: 8px 0;

}

.bloc{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.titre-para {
margin: 0 31px 34px 0;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.para1{
width: 640px;
height: 184px;
margin: 34px 32px 164px 48px;
font-size: 16px;
text-align: justify;
}

.ordinateur-1 {
width: 720px;
height: 512px;
mix-blend-mode: darken;
display: block;
margin: 0px 0px 0px 32px;
}

.bouton1 {
width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #eec50ee7;
font-size: 20px;
}

.separation{

margin: 40px 0px 0px 0px;
}

.ordinateur-2 {
width: 720px;
height: 512px;
mix-blend-mode: darken;
display: block;
margin: 0px 33px 0px 0px;
}

.bouton2 {
width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #eb6608ec;
font-size: 20px;
}

























* ------
* Layout
* ------
*/



  
/**
* ----------
* Components
* ----------
*/